.footer{
	background-color: var(--footer);
	margin-top: 100px;
	margin-right: auto;
	margin-left: auto;
	text-align: left; 
	width: 100%;

}

.header__logo_small__footer{
    margin-left: 17px;
    margin-top: 25px;
}

/* .footer__text{
    color: var(--foreground);
    font-weight: 400;
    size: 12px;
    float: right;
    margin-left: 100px;
	
} */

.footer__background{
	margin-left: auto;
	width: 100%;
  	height: 100%;

}

	